<!-- user will be the object linked to the route and databse :
    user: {
        username, 
        potions (array), 
        favorites(array)
} -->

<main class="profile-flex">
	<h2>Profile of <%- user.username %></h2>
	<h3>Username:</h3>
	<p><%- user.username %></p>
	<h3>My Potions</h3>

	<section class="potions-flex">
		<% user.potions.forEach(potion=> { %>
		<div class="potion-card">
			<% if (potion.img_url !== null && potion.img_url !== undefined) { %>
			<img src="<%- potion.img_url  %>" alt="potion image">
			<% } %>
			<% if (potion.img_url == null) { %>
			<img src="/images/default_pot.png" alt="potion image">
			<% } %>
			<h3><%- potion.name  %></h3>
			<% if (potion.difficulty !== null && potion.difficulty !== undefined) { %>
			<p><strong>Difficulty:</strong> <%- potion.difficulty %></p>
			<% } %>
			<% if (potion.effects !== null && potion.effects !== undefined) { %>
			<p><strong>Effects:</strong> <%- potion.effects %></p>
			<% } %>
			<a class="link-button" href="/potions/potion/<%- potion.name  %>">Read more</a>
		</div>
		<% }) %>
	</section>

	<h3>My Favourites</h3>

	<section class="potions-flex">
		<% user.favorites.forEach(potion=> { %>
		<div class="potion-card">
			<% if (potion.img_url !== null && potion.img_url !== undefined ) { %>
			<img src="<%- potion.img_url  %>" alt="potion image">
			<% } %>
			<% if (potion.img_url == null) { %>
			<img src="/images/default_pot.png" alt="potion image">
			<% } %>
			<h3><%- potion.name  %></h3>
			<% if (potion.difficulty !== null) { %>
			<p><strong>Difficulty:</strong> <%- potion.difficulty %></p>
			<% } %>
			<% if (potion.effects !== null) { %>
			<p><strong>Effects:</strong> <%- potion.effects %></p>
			<% } %>
			<a class="link-button" href="/potions/potion/<%- potion.name  %>">Read more</a>
		</div>
		<% }) %>
	</section>

	<a href="/profile/update"><button class="button">Update profile</button></a>
</main>