<!-- user will be the object linked to the route and databse :
    user: {
        username, 
        potions (array), 
        favorites(array)
} -->

<main class="profile-flex">
	<h2>Profile of <%- user.username %></h2>
	<h3>Username:</h3>
	<p><%- user.username %></p>
	<h3>My Potions</h3>

	<section class="potions-flex">
		<% user.potions.forEach((potion, index)=> { %>
		<% if (index <= 2) { %>
		<div class="potion-card">
			<img src="<%- potion.img_url  %>" alt="potion image">
			<div class="potion-text">
				<h3><%- potion.name  %></h3>
				<% if (potion.difficulty !== null && potion.difficulty !== undefined) { %>
				<p><strong>Difficulty:</strong> <%- potion.difficulty %></p>
				<% } %>
				<% if (potion.effects !== null && potion.effects !== undefined) { %>
				<p><strong>Effects:</strong> <%- potion.effects %></p>
			</div>
			<% } %>
			<a class="link-button" href="/potions/potion/<%- potion.name  %>">Read more</a>
		</div>
		<% } else { %>
		<% } %>
		<% }) %>

	</section>
	<a href="/potions/my-potions"><button class="button">View all</button></a>

	<h3>My Favourites</h3>

	<section class="potions-flex">
		<% user.favorites.forEach((potion,index) => { %>
		<% if (index <= 2) { %>
		<div class="potion-card">
			<img src="<%- potion.img_url  %>" alt="potion image">
			<div class="potion-text">
				<h3><%- potion.name  %></h3>
				<% if (potion.difficulty !== null) { %>
				<p><strong>Difficulty:</strong> <%- potion.difficulty %></p>
				<% } %>
				<% if (potion.effects !== null) { %>
				<p><strong>Effects:</strong> <%- potion.effects %></p>
			</div>
			<% } %>
			<a class="link-button" href="/potions/potion/<%- potion.name  %>">Read more</a>
		</div>
		<% } else { %>
		<% } %>
		<% }) %>

	</section>
	<a href="/potions/my-favorites"><button class="button">View all</button></a>
	<a href="/profile/update"><button class="button">Update profile</button></a>
</main>