<!-- "allPotions" will be the name of the object with all potions from database :
    allPotions: [
        {name,ingredients, ....},
        {name,ingredients, ....},
        {name,ingredients, ....},
        ]
-->
<section class="potions-search">
	<h2>All potions</h2>
	<form action="/potions" method="POST">
		<input class="data-input" type="search" name="searchPotions" placeholder="Search for potions...">
		<button class="button" type="submit">Search</button>
	</form>
</section>
<!-- Just a test to see if all potions is taken from the database, erase it after -->

<section class="potions-flex">
	<% allPotions.forEach(potion=> { %>
	<div class="potion-card">
		<% if (potion.img_url !== null) { %>
		<img src="<%- potion.img_url  %>" alt="potion image">
		<% } %>
		<% if (potion.img_url == null) { %>
		<img src="/images/default_pot.png" alt="potion image">
		<% } %>
		<div class="potion-text">
			<h3><%- potion.name  %></h3>
			<% if (potion.difficulty !== null) { %>
			<p><strong>Difficulty:</strong> <%- potion.difficulty %></p>
			<% } %>
			<% if (potion.effects !== null) { %>
			<p><strong>Effects:</strong> <%- potion.effects %></p>
			<% } %>
		</div>
		<a class="link-button" href="/potions/potion/<%- potion.name  %>">Read more</a>
	</div>
	<% }) %>
</section>