<main class="my-fav-potions">
	<h2>My Favourite Potions</h2>

	<section class="potions-flex">
		<% myFavorites.forEach(potion=> { %>
		<div class="potion-card">
			<% if (potion.img_url !== null && potion.img_url !== undefined ) { %>
			<img src="<%- potion.img_url  %>" alt="potion image">
			<% } %>
			<% if (potion.img_url == null) { %>
			<img src="/images/default_pot.png" alt="potion image">
			<% } %>
			<h3><%- potion.name  %></h3>
			<% if (potion.difficulty !== null) { %>
			<p><strong>Difficulty:</strong> <%- potion.difficulty %></p>
			<% } %>
			<% if (potion.effects !== null) { %>
			<p><strong>Effects:</strong> <%- potion.effects %></p>
			<% } %>
			<a class="link-button" href="/potions/potion/<%- potion.name  %>">Read more</a>
		</div>
		<% }) %>
	</section>
</main>