<!-- "potion" will be the name of the object with all potion informations from database :
    potion {
        name,
        ingredients,
        difficulty,
        characteristics,
        time,
        effects,
        sideEffects,
        inventor,
        img_url
    }
-->

<main class="potion-flex">
	<h2><%- potion.name %></h2>
	<div class="potion-flex-top">
		<img src="<%- potion.img_url  %>" alt="potion image">
		<div class="potion-flex-side">
			<% if (potion.ingredients !== null && potion.ingredients !== undefined && potion.ingredients.length >= 1 ) { %>
			<h3>Ingredients:</h3>
			<ul>
				<% potion.ingredients.forEach(ingredient => { %>
				<li><%- ingredient %></li>
				<% }) %>
			</ul>
			<% } %>
			<% if (potion.difficulty !== null) { %>
			<h3>Difficulty:</h3>
			<p><%- potion.difficulty %></p>
			<% } %>
			<% if (potion.time !== null && potion.time !== 0 && potion.time !== undefined) { %>
			<h3>Time:</h3>
			<p><%- potion.time %></p>
			<% } %>

		</div>
	</div>
	<% if (potion.characteristics !== null) { %>
	<h3>Characteristics:</h3>
	<p><%- potion.characteristics  %></p>
	<% } %>
	<% if (potion.effects !== null) { %>
	<h3>Effects:</h3>
	<p><%- potion.effects  %></p>
	<% } %>
	<% if (potion.sideEffects !== null) { %>
	<h3>Side Effects:</h3>
	<p><%- potion.sideEffects %></p>
	<% } %>

	<!-- /!\ Shows the UPDATE and DELETE button ONLY if the user is the inventor ! keep this part, juste style it -->
	<div class="buttons-flex"><% if ( user && user.username === potion.createdBy) { %>
		<a href="/potions/potion/<%- potion.name %>/update"><button class="button">Update</button></a>
		<a href="/potions/potion/<%- potion.name %>/delete"><button class="button">Delete</button></a>
		<% } %>
		<% if (user && user.username) { %>
		<% if(isPotionFavorite){%>
		<a href="/potions/potion/<%- potion.name %>/delete-favorite"><button class="button">Remove from Favourites</button></a>
		<% } else{ %>
		<a href="/potions/potion/<%- potion.name %>/favorite"><button class="button">Add to Favourites</button></a>
		<%}  %>

		<% } %>
	</div>
</main>

<div class="space"></div>