<main class="create-flex">
	<h2>Update <%- potion.name %></h2>

	<form action="/potions/potion/<%- potion.name %>/update" method="POST" enctype="multipart/form-data" style="display: flex; flex-direction: column; align-items: flex-start">
		<section class="create-form-flex">
			<label>Name: <br>
				<input class="data-input" type="text" name="name" value="<%- potion.name %>" required />
			</label>
			<% if (typeof errorMessage !== 'undefined') { %>
			<p style="color: red"><%= errorMessage %></p>
			<% } %>
			<label class="ingredients">Ingredients: <br>
				<% if (potion.ingredients.length > 0) { %> 
				<% potion.ingredients.forEach(ingredient => { %>
				<input class="data-input" type="text" name="ingredients" value="<%- ingredient %>" /><button type="button remove-btn" class="remove_ingredient button"> X </button>
				<% }) %>
				<% }else{ %>
				<input class="data-input" type="text" name="ingredients" />
				<%} %>
			</label>
			<button type="button" class="add_ingredient button"> + Add ingredient</button>
			<label>Difficulty: <br>
				<input class="data-input" type="text" name="difficulty" value="<%- potion.difficulty %>"/>
			</label>

			<label>Characteristics: <br>
				<input class="data-input" type="text" name="characteristics" value="<%- potion.characteristics %>"/>
			</label>

			<label>Time: <br>
				<input class="data-input" type="number" name="time" value="<%- potion.time %>">
			</label>

			<label>Effects: <br>
				<input class="data-input" type="text" name="effects" value="<%- potion.effects %>"/>
			</label>

			<label>Side Effects: <br>
				<input class="data-input" type="text" name="sideEffects" value="<%- potion.sideEffects %>"/>
			</label>

			<label>Image: <br>
				<input class="file-upload" type="file" name="img_url" accept="image/png, image/jpg" />
			</label>

			<button class="button" type="submit">Update Potion</button>
		</section>
	</form>
</main>